{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <form action="" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>

                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels"></label>
                            {{form.full_name}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels"></label>
                            {{form.image}}
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <a class="btn btn-block btn-warning" href="{% url 'CRUD_app:home' %}">Back</a>
                    </div>
                    
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-primary profile-button">Save Profile</button>
                    </div>
                

            </div>
        </div>
    </form>

    </div>
</div>


{% endblock content %}



{% comment %} 
{% extends 'base.html' %}
{% block content %}

<div class="col-sm-7">
    <h3 class='text-center alert alert-info'>All User Here</h3>
    {% if single_bloger %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for bloger in single_bloger %}
                <tr>
                    <th scope="row">{{bloger.id}}</th>
                    <td>{{bloger.full_name}}</td>
                    <td>{{bloger.user.email}}</td>
                    <td><img class='rounded' style='width:50px; height:50px;' src='{{ bloger.image_url }}'></td>
                    <td>
                        <a href="{% url 'CRUD_app:deleteUser' id=bloger.id %}" class= 'btn btn-danger btn-sm'>Delete</a>
                        
                    </td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
    {% endif %}
        
</div>

{% endblock content %} {% endcomment %}

